#main-header {
  background-image: url(../img/main-background.svg);
  background-size: cover;
  width: 100%;
  height: 900px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  display: none;
}

.link {
  font-family: "Urban Heroes";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 53px;
  color: #ffffff;
  text-decoration: none;
}

.header-menu {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

.menu-app-button {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #ffffff;
  text-decoration: none;
  background: #3f0071;
  border-radius: 10px;
  width: 194px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-text-container {
  max-width: 1800px;
  padding: 0 32px;
  margin: 0 auto;
  padding-top: 100px;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.header-text > h1 {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 81px;
  color: #ffffff;
}

.header-text > h2 {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  line-height: 96px;
  color: #ffffff;
  margin-top: 20px;
}

.text-app-button-container {
  margin-top: 50px;
}

.text-app-button {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  color: #ffffff;
  text-decoration: none;
  background: #3f0071;
  border-radius: 10px;
  width: 503px;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#section-first {
  background-color: #3f0071;
  width: 100%;
  height: 1000px;
}

.section-first-text {
  padding: 100px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 67px;
  text-align: center;
  letter-spacing: -0.08em;
  color: #ffffff;
}

.section-first-explain {
  display: flex;
  justify-content: center;
}

.section-first-set {
  margin-right: 30px;
}

.li.section-first-set:last-child {
  margin-right: 0;
}

.section-first-set > p {
  margin-top: 30px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  letter-spacing: -0.08em;
  color: #ffffff;
}

.section-second-text {
  padding-top: 200px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 81px;
  text-align: center;
  letter-spacing: -0.08em;
  color: #000000;
}

.section-second-container {
  padding: 100px;
}
.section-second-explain {
  gap: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-second-set {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-second-set > img {
  width: 200px;
  height: 200px;
}

.section-second-set > p {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  letter-spacing: -0.08em;
  color: #000000;
  padding-top: 30px;
}

#section-second {
  width: 100%;
  height: 1000px;
}

#section-third {
  background-color: #3f0071;
  width: 100%;
  height: 1900px;
}

.section-third-text {
  padding-top: 265px;
  padding-bottom: 265px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 67px;
  text-align: center;
  letter-spacing: -0.08em;
  color: #ffffff;
}

.section-third-img {
  display: flex;
  justify-content: center;
}

.section-fourth-explain {
  padding: 200px;
}

.section-fourth-set {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  padding: 100px;
}

.section-fourth-text > h3 {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 81px;
  letter-spacing: -0.08em;
  color: #3f0071;
  padding-top: 30px;
}

.section-fourth-text > p {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
  letter-spacing: -0.08em;
  color: #000000;
  padding-top: 30px;
}

.section-fourth-img-two {
  order: 2;
}

.section-fourth-img-four {
  order: 2;
}

.section-fifth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 466px;
  background-color: #3f0071;
}

.section-fifth-text {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 67px;
  text-align: center;
  letter-spacing: -0.08em;
  color: #ffffff;
}

.footer {
  background-color: #000000;
  width: 100%;
  height: 700px;
}

.footer-all {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  gap: 100px;
}

.footer-menu {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.08em;
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
  flex-shrink: 0;
}

.footer-text {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.08em;
  color: #ababab;
  margin-top: 50px;
}

.copyright {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.08em;
  color: #ababab;
  margin-top: 50px;
}

.footer-info-first {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.08em;
  color: #ababab;
}

.footer-info-second {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: -0.08em;
  color: #ffffff;
  margin-top: 30px;
}

.footer-info-third {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.08em;
  color: #ababab;
  margin-top: 10px;
}

.sns-icon-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.sns-icon > img {
  width: 45px;
  height: 45px;
}

.mobile-app-down {
  display: none;
}

/* 태블릿 */
@media screen and (max-width: 860px) {
  .menu-app-button {
    display: none;
  }

  .header-text-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #section-first {
    height: 2452px;
  }

  .section-first-explain {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section-first-text {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .section-first-set {
    padding-bottom: 150px;
  }

  .section-second-set > img {
    width: 100px;
    height: 100px;
  }

  .section-second-set > p {
    font-size: 24px;
  }

  .section-second-explain {
    gap: 50px;
  }

  .arrow > img {
    width: 13px;
  }

  #section-third {
    height: 1392px;
  }

  .section-third-text {
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 38px;
  }

  .section-third-img > img {
    width: 650px;
  }

  .section-fourth-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section-fourth-img-one {
    order: 2;
  }

  .section-fourth-img-three {
    order: 2;
  }

  .section-fourth-explain {
    padding: 0px;
  }

  .section-fifth-text {
    font-size: 36px;
  }

  .footer {
    height: 1200px;
  }

  .footer-all {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
  }

  .mobile-app-down {
    width: 655px;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
    right: -68px;
    bottom: 0;
    position: fixed;
  }

  .mobile-app-down-link {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    z-index: 1;
  }

  .mobile-app-down::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3f0071;
    transform: skewX(328deg);
  }
}

/* 모바일 */
@media screen and (max-width: 375px) {
  .link {
    font-size: 24px;
  }

  .hamburger-menu {
    display: block;
  }

  .header-menu {
    display: none;
  }
}
